<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>


<% @posts.each do |post| %>
	<p>
	<span>Categories:</span>
	<% post.categories.each do |category| %>
		<%= category.name %>
	<% end %>
	</p>
	<%= link_to post.title, post_path(post) %>
	<%= post.inspect %>
<% end %>